body {
    background: #f7faff
}

a {
    text-decoration: none;
}

.header-of-page{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.header-top{
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.header-content .logo {
    font-size: 72px;
    color: #6495ED;
    line-height: 78px;
    font-weight: bold;
}

.header-content .logo > i{
    padding-right: 10px;
    padding-left: 3px;
    transition: 1s ease;
}

.header-content .logo:hover > i{
    color: #BB0000;
    font-size: 78px;
    padding-right: 7px;
    padding-left: 0px;
}

.header-content .nav-menu{
    display: flex;
    width: 100%;
    justify-content: center;
    background: #404040;
    margin-top: 10px;
    height: 48px;
}

.header-content .nav-menu .nav-item{
    display: flex;
    align-items: center;
}

.header-content .nav-menu .nav-item > a{
    padding-left: 50px;
    padding-right:50px;
    line-height: 36px;
    font-size: 22px;
    color: #ffffff;
    -webkit-transition: transform 0.6s;
    -o-transition: transform 0.6s;
    transition: transform 0.6s;
    cursor: pointer;
    text-decoration: none;
    height:100%;
    display: flex;
    align-items: center;
}

.header-content .nav-menu .nav-item:hover {
    background: #6495ED;
}

main{
    padding-top:72px;
}